@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-animated {
    @apply transition-all duration-300 ease-in-out;
}

.cell-animated:hover {
    @apply transform scale-105 shadow-lg shadow-blue-500/50;
}

.winner-cell {
    animation: winner-pulse 1s infinite;
}

@keyframes winner-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


canvas {
    display: block !important;
    pointer-events: none;
}